.git
.gitignore
.env
.env.*.local
.github
.dockerignore
docker-compose*.yml
Dockerfile
docs
node_modules
vendor
public/build
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
phpunit.xml
.editorconfig
*.md
